.imgDiv{
    width: 20%;
    margin: 10px;
    padding-top: 18px;
}

.contentDiv{
    width: 60%;
    text-align: left;
}

.movieCard{
    display: flex;
    border: 2px dashed #bebebe;
    width: 80%;
    margin: 0 auto;
}

.movieListComponent{
    text-align: center;
}

.description{
    font-weight: 700;
}

h4 > span {
    font-weight: 100;
}

h4{
    margin-block-end: .45em;
    margin-block-start: .75em;
}

#loadmore{
    padding: 10px 15px;
    background-color: grey;
    color: white;
    font-size: 20px;
    margin:15px;
    border: 2px solid black;
    visibility: hidden;
}