header {
  font-family: 'Roboto';
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  border: 2px dashed #bebebe;
}

body {
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: 400;
  background-color: seashell;
}

footer {
  text-align: center;
}

/* for icon - thenounproject.com/term/movie/1241202 */